<div class="container align-content-center" >
  <form novalidate [formGroup]="transForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="form-group col-md-4 align-self-center">
        <label>Language from</label>
        <select class="form-control"
                formControlName="langFrom">
          <option value="" selected>Please select a language</option>
          <option *ngFor="let key of langs | key"
                  [value]="key.key">{{key.value}}
          </option>
        </select>
      </div>

      <div class="col-md-1 align-self-center">
        <button type="button" class="btn btn-primary"
                (click)="changeSel()">
          <i class="material-icons">autorenew</i>
        </button>
      </div>

      <div class="form-group col-md-4 align-self-center">
        <label>Language to</label>
        <select class="form-control"
                formControlName="langTo">
          <option value="" selected>Please select a language</option>
          <option *ngFor="let key of langs | key"
                  [value]="key.key">{{key.value}}
          </option>
        </select>
      </div>
    </div>

    <div class="d-flex align-content-stretch flex-wrap btn-primary">
      <div class="form-group col-md-5">
        <label for="exampleFormControlTextarea1">Your text</label>
        <textarea class="form-control border-0" id="exampleFormControlTextarea1" rows="3"
                  formControlName="text"></textarea>
      </div>

      <button class="btn btn-primary col-md-2"
              type="submit">
        Translate
        <p><i class="material-icons">arrow_forward</i></p>
      </button>

      <div class="card w-100 col-md-5 text-primary">
        <div class="card-body">
          <h5 class="card-title">Translated text</h5>
          <p class="card-text"> {{ translatedText }}</p>
        </div>
      </div>
    </div>
  </form>
</div>
