<form novalidate (ngSubmit)="authorization()"
      [formGroup]="myform">

  <fieldset formGroupName="name">
    <div class="form-group"
         [ngClass]="displayFieldCss(firstName)">
      <label>First Name</label>
      <input type="text"
             class="form-control"
             formControlName="firstName"
             required>
      <div class="form-control-feedback"
           *ngIf="invalidAlarm(firstName)">
        <p *ngIf="isRequired(firstName)">First Name is required</p>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="displayFieldCss(lastName)">
      <label>Last Name</label>
      <input type="text"
             class="form-control"
             formControlName="lastName"
             required>
      <div class="form-control-feedback"
           *ngIf="invalidAlarm(lastName)">
        <p *ngIf="isRequired(lastName)">Last Name is required</p>
      </div>
    </div>
  </fieldset>

  <div class="form-group"
       [ngClass]="displayFieldCss(email)">
    <label>Email</label>
    <input type="email"
           class="form-control"
           formControlName="email"
           required>
    <div class="form-control-feedback"
         *ngIf="invalidAlarm(email)">
      <p *ngIf="isRequired(email)">Email is required</p>
      <p *ngIf="password.errors.pattern">The email address must contain at least the @ character</p>
    </div>

  </div>
  <div class="form-group"
       [ngClass]="displayFieldCss(password)">
    <label>Password</label>
    <input type="password"
           class="form-control"
           formControlName="password"
           required>
    <div class="form-control-feedback"
         *ngIf="invalidAlarm(password)">
      <p *ngIf="isRequired(password)">Password is required</p>
      <p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
    </div>
  </div>

 <div class="form-group"
       [ngClass]="displayFieldCss(language)">
    <label>Language</label>
    <select class="form-control"
            formControlName="language">
      <option value="">Please select a language</option>
      <option *ngFor="let lang of langs"
              [value]="lang">{{lang}}
      </option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" >Submit</button>
</form>


